<!DOCTYPE html>
<html>
  <head>
    <title>AlFine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container flex flex-row items-center p-2 font-serif">
      <%= image_tag "treble-clef.svg", alt: "logo", class: "h-16 mr-4" %>
      <h2>AL FINE</h2>
    </header>
    <main class="container mt-2 px-2 flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
